page-users-infos {

    .button-round-md {
        border-radius: 64px;
        padding: 0 2.6rem;
        height: 50px;
        margin-top: 10px;
        background-color: white;
        color: black;
    }

}
