page-single-subjects {
    #detail-cours
    {
        // margin-left: 10px; 
    }

    #detail-cours p
    {
       //margin-left: 20px; 
    }
    .item-md h2 {
        margin: 2px 0;
        font-size: 4.6rem;
        font-weight: bold;
    }
}
