<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title id="ion-title">
      Accueil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(248, 44, 129);">
  <ion-grid>
    <ion-row class="grandTitre">
      <ion-col>Emploi du Temps de la journnée</ion-col>
    </ion-row>
    <ion-row class="petitTitre">
      <ion-col>
        MATIN
      </ion-col>
    </ion-row>
    <ion-row item-button *ngFor="let cour of EmploiDuTemps.matin;" (click)="goToSingleSubjectsPage(cour)" class="cour">
      <ion-col col-2>
        <div item-start style="background-color: rgb(248, 44, 129);
                 height: 50px;width: 50px; border-radius: 50%;"></div>
      </ion-col>
      <ion-col col-7>
        <h2>{{cour.nom}}</h2>
        <ion-icon name="time"></ion-icon>
        {{cour.heureDebut}} - {{cour.heureFin}}
      </ion-col>
      <ion-col col-3>
        <ion-icon name="pin"></ion-icon>
        {{cour.salle}}
      </ion-col>
    </ion-row>
    <ion-row class="petitTitre" style="margin-top: 0px;">
      <ion-col>
        SOIR
      </ion-col>
    </ion-row>
    <ion-row item-button *ngFor="let cour of EmploiDuTemps.soir;" (click)="goToSingleSubjectsPage(cour)" class="cour">
      <ion-col col-2>
        <div item-start style="background-color: rgb(248, 44, 129);
                   height: 50px;width: 50px; border-radius: 50%;"></div>
      </ion-col>
      <ion-col col-7>
        <h2>{{cour.nom}}</h2>
        <ion-icon name="time"></ion-icon>
        {{cour.heureDebut}} - {{cour.heureFin}}
      </ion-col>
      <ion-col col-3>
        <ion-icon name="pin"></ion-icon>
        {{cour.salle}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-top:10px">
    <ion-row class="grandTitre" style="margin-bottom: 20px;">
      <ion-col>Emploi du Temps d'étude</ion-col>
    </ion-row>
    <ion-row item-button *ngFor="let etude of EmploiEtude; let i=index" (click)="goToSingleTaskPage(etude)"
      class="cour">
      <ion-col col-2>
        <div item-start style="background-color: rgb(248, 44, 129);
                   height: 50px;width: 50px; border-radius: 50%;"></div>
      </ion-col>
      <ion-col col-7>
        <h2>{{etude.nom}}</h2>
        <ion-icon name="time"></ion-icon>
        {{etude.heureDebut}} - {{etude.heureFin}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list id="schoolTimeTable">
    <ion-list-header>Emploi du Temps de la journnée</ion-list-header>
    <ion-list-header>MATIN</ion-list-header>
    <button ion-item *ngFor="let cour of EmploiDuTemps.matin; let i=index"
    (click)="goToSingleSubjectsPage(cour)" primary>
      <div item-start style="background-color: rgb(248, 44, 129); height: 50px;width: 50px; border-radius: 50%;"></div>
      <div >
        <h2>{{cour.nom}}</h2>
        <ion-icon name="time"></ion-icon>
        {{cour.heureDebut}} - {{cour.heureFin}}
      </div>
      <div item-end>
          <ion-icon name="pin"></ion-icon>
          {{cour.salle}}
      </div>
    </button>
    <ion-list-header>SOIR</ion-list-header>
    <button ion-item *ngFor="let cour of EmploiDuTemps.soir; let i=index"
    (click)="goToSingleSubjectsPage(cour)" primary>
      <div item-start style="background-color: rgb(248, 44, 129); height: 50px;width: 50px; border-radius: 50%;"></div>
      <div >
        <h2>{{cour.nom}}</h2>
        <ion-icon name="time"></ion-icon>
        {{cour.heureDebut}} - {{cour.heureFin}}
      </div>
      <div item-end>
          <ion-icon name="pin"></ion-icon>
          {{cour.salle}}
      </div>
    </button>
  </ion-list>

  <ion-list>
      <ion-list-header>Emploi du Temps d'Etude</ion-list-header>
      <button ion-item *ngFor="let etude of EmploiEtude; let i=index"
      (click)="goToSingleTaskPage(etude)">
      <div item-start style="background-color: rgb(248, 44, 129); height: 50px;width: 50px; border-radius: 50%;"></div>
      <div>
          <h2>{{etude.nom}}</h2>
          <ion-icon name="time"></ion-icon>
          {{etude.heureDebut}} - {{etude.heureFin}}
        </div>
        <div item-end>
          <ion-icon name="pin"></ion-icon>
        </div>
      </button>
    </ion-list>
  
  <ion-fab bottom right edge style="margin-bottom:50px;">
    <button ion-fab mini><ion-icon name="notifications-outline"></ion-icon></button>
  </ion-fab> -->
</ion-content>