.item-md h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-md p{
    margin-bottom: 10px;
}

ion-segment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #488aff;
    color: white;
    background-color: #f82c81;
    opacity: 1;
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-bottom: white 1px solid;
}

.segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #488aff;
    background-color: transparent;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
    color: #f82b81;
}

.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 10px;
    border-radius: 10px;
}

ion-icon {
    display: inline-block;
    font-size: 1.2em;
    color: #f82b81;
}

/*.segment-md .segment-button{
    color: white;
    font-size: 1.4em;
}*/